{%extends 'musicbeats/basic.html'%}
{% block title %}People To Follow{% endblock %}




{% block body %}
   {% for profile in profiles %}
        <div class="ui segmment">
            {{profile}}
            <br>
            <a href= {% url 'musicbeats:channel-Detail' profile.pk %}>
                 <img src="/media/{{profile.image}}" alt="" height="500px" width="350px">
                <button class="btn btn-primary">See Profile</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}